@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


/* ################################### */
/* ########## Arabic CSS ############# */
/* ################################### */

header.header_ar {
  direction: rtl;
}

header.header_ar nav {
  margin-left: 0;
  margin-right: auto;
}

div.banner_ar {
  direction: rtl;
}

div.banner_ar div img.img_carbanner {
  margin-left: 0;
  margin-right: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

section.sectionOne_ar {
  direction: rtl;
}

section.sectionOne_ar input.ar_input {
  direction: rtl;
}

section.sectionLuxury_ar {
  direction: rtl;
}

div.sectionThree_ar {
  direction: rtl;
}

div.sectionThree_ar div.ar_img {
  margin-left: 0;
  margin-right: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

div.sectionThree_ar ul.ar_ul {
  padding-right: 0px;
  padding-left: 0px;
}

div.sectionThree_ar ul.ar_ul .bullet:before {
  right: -10px;
  left: auto;
}

div.sectionFive_ar {
  direction: rtl;
}

div.sectionFive_ar img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

div.sectionFive_ar div.svg_ar {
  right: 0;
  left: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

div.sectionFive_ar div.border_headerAR {
  border-left: none;
  border-right: 2px solid #401A89;
  padding-right: 5px;
}

section.sectionFour_ar {
  direction: rtl;
}


section.sectionFour_ar div.ar_content {
  margin-left: 0;
  margin-right: auto;
}

section.sectionFour_ar div.swiper-wrapper {
  margin-right: -985;
  margin-left: auto;
}

section.sectionFour_ar div.buttonGroup {
  right: 0;
  left: auto;
  direction: ltr;
}

section.sectionFaq_ar {
  direction: rtl;
}

div.sectionFooter_ar {
  direction: rtl;
}

div.sectionFooter_ar ul li {
  text-align: right;
}


div.sectionFooter_ar img.img_ar {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

div.sectionFooter_ar button.WhatsApp_ar {
  left: 10;
  right: auto;
}